html {
  margin: 0;
  padding: 0;
}

h1 {
	margin: 0
}

body {
  position: relative;
  margin: 0;
	padding: 0;	
  box-sizing: border-box;
  font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
	background-color: var(--theme-palette-common-background, initial);
	color: var(--theme-palette-common-text, initial);
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

input:disabled {
  color: #ccc;
}

button:disabled {
  color: #999;
}